@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Prompt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #242424; 
   color: #ffffff;
   text-align: center;
}

main {
    margin-top: 30px;
}

img {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    user-select: none;
}

h1, h2, h3 {
    font-family: 'Kanit', sans-serif;  
}

h5, p {
    font-family: 'Prompt', sans-serif;
}

h5 {
    margin-top: 15px;
    margin-bottom: 8px;
}

.chave {
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    display: none;
}

@media screen and (max-width: 1000px) {
    
    main {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    img {
        width: 250px;
        margin-top: 30px;
        margin-bottom: 10px;
        user-select: none;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    footer {
        display: block;
        border-top: #ffffff solid 1px;
        padding: 8%;
        text-align: center;
        font-family: 'Prompt', sans-serif;
        margin-top: 20%;
    }
    
    footer a {
        text-decoration: none;
        color: #ffffff;
    }

    footer a:hover {
        color: #ffc700;
        text-decoration: underline;
    }

    footer span {
        margin: 10px;
    }

}